body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 40px;
    color: #FFF;
    text-align: center;
}

.section {
    background-color: #27ae60;
    height: 33.33vh;
    line-height: 33.33vh;
}

.section-2 {
    background-color: #16a085;
}

.section-3 {
    background-color: #e67e22;
}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

/* $lOADER QUART DE CERCLE */

.loader-quart {
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 6px solid transparent;
    border-radius: 50px;
    border-top-color: #FFFFFF;
    animation: spin 1s linear infinite;
}

/* $lOADER DOUBLE CERCLES */

.loader-double {
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    animation: spin 1s linear infinite;
}

.loader-double:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    opacity: 0.6;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    animation: spinReverse 2s linear infinite;
}

/* $lOADER CERCLES MULTIPLES */

.loader-circles {
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFFFFF;
    animation: spin 1s linear infinite;
}

.loader-circles:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0.6;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    animation: spin 5s linear infinite;
}

.loader-circles:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 11px;
    right: 11px;
    bottom: 11px;
    opacity: 0.4;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    animation: spin 10s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinReverse {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg);
    }
}
